extends: default
rules:
  line-length: disable
  document-start: disable
  comments: disable
  comments-indentation: disable
  truthy:
    check-keys: false
    allowed-values: ["on", "off", "yes", "no", "true", "false", "On", "Off", "Yes", "No", "True", "False"]
