name: link-check
on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: lycheeverse/lychee-action@v2.0.2
        with:
          args: >-
            --verbose
            --no-progress
            --exclude-mail
            --max-redirects 5
            --retry-wait-time 2
            --timeout 15
            --exclude '^\.\./\.\./actions/workflows/.*'
            --exclude '^https://console\.cloud\.google\.com/.*'
            --exclude-path archive
            .
