name: link-check
on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: lycheeverse/lychee-action@v2.0.2
        with:
          args: >-
            --config .lychee.toml .
