name: pre-commit

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run:
    name: Run hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install hook dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit detect-secrets==1.5.0
      - name: Execute pre-commit hooks
        run: pre-commit run --all-files
