name: pre-commit

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  run:
    name: Run hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install gitleaks
        run: |
          curl -sSfL https://github.com/gitleaks/gitleaks/releases/download/v8.24.2/gitleaks_8.24.2_linux_x64.tar.gz | tar -xz
          sudo mv gitleaks /usr/local/bin/
      - name: Install hook dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit detect-secrets==1.5.0
      - name: Execute pre-commit hooks
        run: pre-commit run --all-files
